<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Taxista</title>
</head>
<body>
    <h1>Cadastro de Taxista</h1>
    <form method="POST">
        <label>Nome:</label>
        <input type="text" name="nome" required><br><br>
        <label>CPF:</label>
        <input type="text" name="cpf" required><br><br>
        <label>Telefone:</label>
        <input type="text" name="telefone" required><br><br>
        <label>Placa do Veículo:</label>
        <input type="text" name="placa_veiculo" required><br><br>
        <label>Modelo do Veículo:</label>
        <input type="text" name="modelo_veiculo" required><br><br>
        <label>Condutox:</label>
        <input type="text" name="condutax" required><br><br>
        <label>Vencimento Condutox:</label>
        <input type="date" name="vencimento_condutax" required><br><br>
        <label>Licenciamento:</label>
        <input type="date" name="licenciamento" required><br><br>
        <label>Vencimento Licenciamento:</label>
        <input type="date" name="vencimento_licenciamento" required><br><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>