{% extends "base.html" %}

{% block title %}Cadastro de Taxista{% endblock %}

{% block content %}
    <div class="header">
        <h1>Cadastro de Taxista</h1>
    </div>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="alert alert-warning" role="alert">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
    <form method="POST">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" class="form-control" required aria-label="Nome">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="text" name="telefone" id="telefone" class="form-control" required aria-label="Telefone">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="condutax">Condutax:</label>
                <input type="text" name="condutax" id="condutax" class="form-control" required aria-label="Condutax">
            </div>
            <div class="form-group col-md-6">
                <label for="vencimento_condutax">Vencimento Condutax:</label>
                <input type="date" name="vencimento_condutax" id="vencimento_condutax" class="form-control" required aria-label="Vencimento Condutax">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="veiculo">Veículo:</label>
                <input type="text" name="veiculo" id="veiculo" class="form-control" required aria-label="Veículo">
            </div>
            <div class="form-group col-md-6">
                <label for="placa_veiculo">Placa do Veículo:</label>
                <input type="text" name="placa_veiculo" id="placa_veiculo" class="form-control" required aria-label="Placa do Veículo">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="licenciamento">Licenciamento:</label>
                <input type="month" name="licenciamento" id="licenciamento" class="form-control" required aria-label="Licenciamento">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
    <a href="{{ url_for('index') }}" class="btn btn-custom mt-4">Voltar ao Menu</a>
{% endblock %}
