{% extends "base.html" %}

{% block title %}Editar Taxista{% endblock %}

{% block styles %}
    .header {
        padding-top: 75px;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        color: #000000;
    }

    label {
        color: #000000;
    }

{% endblock %}

{% block content %}
    <div class="header">
        <h1>Editar Taxista</h1>
    </div>
    <form method="POST">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" class="form-control" value="{{ taxista.nome }}" required aria-label="Nome">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="text" name="telefone" id="telefone" class="form-control" value="{{ taxista.telefone }}" required aria-label="Telefone">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="condutax">Condutax:</label>
                <input type="text" name="condutax" id="condutax" class="form-control" value="{{ taxista.condutax }}" required aria-label="Condutax">
            </div>
            <div class="form-group col-md-6">
                <label for="vencimento_condutax">Vencimento Condutax:</label>
                <input type="date" name="vencimento_condutax" id="vencimento_condutax" class="form-control" value="{{ taxista.vencimento_condutax.strftime('%Y-%m-%d') }}" required aria-label="Vencimento Condutax">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="veiculo">Veículo:</label>
                <input type="text" name="veiculo" id="veiculo" class="form-control" value="{{ taxista.veiculo }}" required aria-label="Veículo">
            </div>
            <div class="form-group col-md-6">
                <label for="placa_veiculo">Placa do Veículo:</label>
                <input type="text" name="placa_veiculo" id="placa_veiculo" class="form-control" value="{{ taxista.placa_veiculo }}" required aria-label="Placa do Veículo">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="licenciamento">Licenciamento:</label>
                <input type="month" name="licenciamento" id="licenciamento" class="form-control" value="{{ taxista.licenciamento }}" required aria-label="Licenciamento">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
    <a href="{{ url_for('index') }}" class="btn btn-primary mt-4">Voltar ao Menu</a>
{% endblock %}
