{% extends "base.html" %}

{% block title %}Histórico de Ações{% endblock %}

{% block content %}
    <div class="header">
        <h1>Histórico de Ações</h1>
    </div>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="alert alert-warning" role="alert">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
    <div class="table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tipo de Ação</th>
                    <th>Nome</th>
                    <th>Condutax</th>
                    <th>Placa</th>                        
                    <th>Data e Hora</th>
                </tr>
            </thead>
            <tbody>
                {% for acao in historico_acoes %}
                    <tr>
                        <td>
                            <button class="btn btn-sm btn-rounded 
                                {% if acao.tipo_acao == 'Cadastro' %}btn-success{% elif acao.tipo_acao == 'Editado' %}btn-warning{% elif acao.tipo_acao == 'Deleção' %}btn-danger{% else %}btn-secondary{% endif %}" 
                                aria-label="{{ acao.tipo_acao }}">
                                {{ acao.tipo_acao }}
                            </button>
                        </td>
                        <td>{{ acao.nome }}</td>
                        <td>{{ acao.condutax }}</td>
                        <td>{{ acao.placa_veiculo }}</td>                            
                        <td>{{ acao.data_hora.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('index') }}" class="btn btn-primary mt-4">Voltar ao Menu</a>
    <a href="{{ url_for('gerar_relatorio_pdf') }}" class="btn btn-secondary mt-4">Gerar PDF</a>
    <button type="button" class="btn btn-danger mt-4" data-toggle="modal" data-target="#confirmModal">Zerar Histórico</button>

    <!-- Modal de Confirmação -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirme a Ação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{{ url_for('confirmar_zerar_historico') }}">
                    <div class="modal-body">
                        <p>Insira a senha para confirmar a ação de zerar o histórico e gerar o relatório em PDF.</p>
                        <div class="form-group">
                            <label for="senha">Senha:</label>
                            <input type="password" name="senha" class="form-control" id="senha" required aria-label="Senha">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
