{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div class="header">
        <h1>Bem-vindo(a) ao Sistema de </h1>
        <h1><b>Cadastro de Taxistas</b></h1>
    </div>
    <br>
    <div class="d-flex justify-content-between mb-4">
        <a href="{{ url_for('cadastro') }}" class="btn btn-custom" aria-label="Cadastrar Novo Taxista">Cadastrar Novo Taxista</a>
        <a href="{{ url_for('lista_taxistas') }}" class="btn btn-custom" aria-label="Lista de Taxistas">Lista de Taxistas</a>
        <a href="{{ url_for('historico') }}" class="btn btn-custom" aria-label="Histórico de Ações">Histórico de Ações</a>
    </div>
{% endblock %}
