{% extends "base.html" %}

{% block title %}Lista de Taxistas{% endblock %}

{% block content %}
    <div class="header" style="text-align:center">
        <br>
        <h1>Lista de Taxistas</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Placa</th>
                    <th>Condutax</th>
                    <th>Veículo</th>
                    <th>Vencimento Condutax</th>
                    <th>Licenciamento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for taxista in taxistas %}
                    <tr>
                        <td>{{ taxista.nome }}</td>
                        <td>{{ taxista.telefone }}</td>
                        <td>{{ taxista.placa_veiculo }}</td>
                        <td>{{ taxista.condutax }}</td>
                        <td>{{ taxista.veiculo }}</td>
                        <td>{{ taxista.vencimento_condutax.strftime('%d/%m/%Y') }}</td>
                        <td>{{ taxista.licenciamento }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Ações">
                                <a href="{{ url_for('editar_taxista', id=taxista.id) }}" class="btn btn-info btn-sm" aria-label="Editar taxista {{ taxista.nome }}">Editar</a>
                                <a href="{{ url_for('deletar_taxista', id=taxista.id) }}" class="btn btn-danger btn-sm" aria-label="Deletar taxista {{ taxista.nome }}">Deletar</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('index') }}" class="btn btn-primary mt-4" aria-label="Voltar ao Menu">Voltar ao Menu</a>
{% endblock %}
